
.reveal h1.text-shadow,
.reveal h2.text-shadow,
.reveal h3.text-shadow {
  text-shadow: 0px 0px 10px #000;
}

[data-background="#fff"] h1,
[data-background="#fff"] h2,
[data-background="#fff"] h3,
[data-background="#fff"] h4 {
  color: #888;
}

.reveal .no-border {
  border: 0;
}

.reveal .no-shadow {
  box-shadow: none;
}
